Handle comments from Kevin Smith

```Dear all,

Many thanks for submitting the MLS draft: please may I make some comments following review?

Abstract
s/"MLS provides a security layer for group messaging applications with from two to a large number of clients."/"MLS provides a security layer for asynchronous group messaging applications between a minimum of two clients."

Intro
s/"End-to-end security is a requirement for instant messaging systems and is commonly deployed in many such systems."/"End-to-end security is commonly deployed in instant messaging systems."
(suggesting this edit for brevity, the following sentences can help explain the specific benefit of E2E security.)

s/"In this context, "end-to-end" captures the notion that users of the system enjoy some level of security"/"End-to-end" provides integrity of messages sent between authenticated messaging endpoints.
(suggesting this edit because the original text does not explain the specific benefit of an end-to-end approach)

"Messaging Layer Security (MLS) specifies an architecture (this document) and an abstract protocol [MLSPROTO] for providing end-to-end security in this setting."
s/'in this setting'/'for asynchronous group messaging'.
->Suggested addition here: a short explanation of the problem statement this spec is intending to solve, e.g. as per the BOF deck from IETF101.

2 General setting
s/"This is in contrast so some designs"/This is in contrast to some designs"

2.2 Authentication services
->Is there some wording missing above the two bullets, e.g. "This requires:" or "The entities involved are"?

2.3.5 Membership and offline members
"The precise details of such mechanisms are a matter of local policy."
->Is there any best practice that can be suggested here?

3.1 Functional requirements
s/"and aim to scale to approximately 50,000 clients"/"and aim to scale to Group sizes of approximately 50,000 Clients" (as per the BOF deck)

3.1.5
"avoid Personally Identifiable Information (PII)"
-> Is PII formally defined anywhere so that this requirement can be tested?

3.1.7
"the negotiation protocol must guarantee that the version agreed upon will be the highest version supported in common by the group."
-> suggest to mention a minimum barrier-to-entry here to prevent a single legacy Client downgrading the version for the other Clients .

"the security of MLS should generally survive compromise of the transport layer."
-> does 'survive' here mean the messaging service continues atop a compromised transport layer, or does the messaging service recognise a threat and fail gracefully (as suggested in the wording of section 4)?

3.2.1
"one Client must not be able to send a message which other Clients accept as being from another Client."
-> suggest to change 'another Client' to 'a Client which is not a Group Member' (because 'another Client' would also include other honest Clients in the Group)

3.2.2
" Message content can be deniable if the signature keys are exchanged over a deniable channel prior to signing messages."
-> Is there a testable definition of a deniable channel that can be referenced here (e.g. section 4.3 of RFC 3552)?

3.2.2.4.  Denial of Service
"In general we do not consider Denial of Service (DoS) resistance to be the responsibility of the protocol"
-> worth pointing to section 4.2 here where there is further discussion on DoS

All best,
Kevin

Mr Kevin Smith, Vodafone R&D
```